* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(97,95,130);
    background: linear-gradient(90deg, rgba(97,95,130,1) 0%, rgba(0,212,255,1) 50%, rgba(97,95,130,1) 100%);
    font-family: 'Poppins', sans-serif;
}

.mynav{
    color: white;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.425),black);
    height: 50px;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.maindiv{
    /* padding-left: 324px;
    padding-right: 100px; */
}

.input-container{
    margin-top: 50px;
    display: flex;
}

.form {
    width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}

.input{
    color: gray;
    width: 50%; 
    justify-content: center; 
    padding: 10px; 
    margin: 5px 10px 5px 10px";
}

.btn{

    width: 40px;
    height: 40px;
    justify-content: center;
    margin: 5px 10px 5px 10px;
    cursor: pointer;    
}
.btn:hover{
    transform: scale(1.1);
}

.selector
{       
    width: 100px;
    height: 40px;
    margin: 5px 5px 5px 5px;
}

.wrapper-div{
    width: 100%;
    display: flex; 
    justify-content: center;
    
}

.todo-container{
    width: 100%;
    /* position: relative;
    left: 224px; */
    align-items: center;
    display: flex;
}

.todoDiv{
    
    margin: 5px;
    background: white;
    color: black;
    display: flex;
}

.todo-item{
    min-width: 50%;
    margin: 5px;
    list-style: none;
    padding: 5px;
    flex: 1;
}

.complete_btn{
    
    width: 44px;
    height: 44px;
    border: none;
    background-color: rgb(8, 218, 8);
    color: black;
    cursor: pointer;
}
.delete_btn{

    width: 44px;
    height: 44px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}




